{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="http://schema.org/Blog">
    {{ if .Site.Params.intro }}
        <header class="post-header">
            <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
            <p>{{ .Site.Params.description }}</p>
        </header>
    {{ end }}

    <ol class="post-list">
        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}